#skills {
    display: grid;
    place-items: center;
    padding-top: 150px;
    gap: 60px;
    padding-bottom: 50px;
}

.skills-title {
    font: var(--main-font-bold);
    font-size: 40px;
    color: var(--bold-color2);
    text-align: center;
}

.slider {
    width: 90%;
    display: flex;
    place-items: center;
    overflow: hidden;
}

.skills-cards {
    display: flex;
    padding-inline: 20px;
    gap: 30px;
    width: calc(200px * 22);
    animation: scroll 25s linear infinite;
}

.skills-card-content h2 {
    font: var(--main-font-bold);
    color: var(--main-text-light-color);
}

.skills-card {
    width: 200px;
    height: 200px;
    flex: 1 1 250px;
    background-color: var(--skills-card-bgcolor);
    border-radius: 12px;
    position: relative;
}

.skills-card-content {
    position: absolute;
    inset: 1px;
    background-color: var(--skills-card-content-bgcolor);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.skills-cards:hover {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),
            hsl(var(--color) / 1),
            rgba(255, 255, 255, 0.12) 40%);
}

.skills-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
            hsl(var(--color) / 0.35),
            transparent 40%);
    border-radius: inherit;
    opacity: 0;
    z-index: 2;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 11));
    }
}

.skills-cards:hover>.skills-card::before {
    opacity: 1;
}

.skills-card:nth-child(1),
.skills-card:nth-child(12) {
    --color: 33 100% 68%;
}

.skills-card:nth-child(2),
.skills-card:nth-child(13) {
    --color: 206 76% 90%;
}

.skills-card:nth-child(3),
.skills-card:nth-child(14) {
    --color: 62 100% 68%;
}

.skills-card:nth-child(4),
.skills-card:nth-child(15) {
    --color: 248 100% 68%;
}

.skills-card:nth-child(5),
.skills-card:nth-child(16) {
    --color: 38 100% 68%;
}

.skills-card:nth-child(6),
.skills-card:nth-child(17) {
    --color: 199 100% 68%;
}

.skills-card:nth-child(7),
.skills-card:nth-child(18) {
    --color: 0 100% 68%;
}

.skills-card:nth-child(8),
.skills-card:nth-child(19) {
    --color: 125 100% 68%;
}

.skills-card:nth-child(9),
.skills-card:nth-child(20) {
    --color: 275 100% 68%;
}

.skills-card:nth-child(10),
.skills-card:nth-child(21) {
    --color: 227 100% 68%;
}

.skills-card:nth-child(11),
.skills-card:nth-child(22) {
    --color: 257 100% 68%;
}