@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF5FF;
  --foreground: #161616;
  --skill-card-bgcolor: rgba(255, 255, 255, 0.12);
  --skill-card-content-bgcolor: #131315;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #FFF5FF;
    --main-fucsia: #E16DF5;
    --main-fucsia-800: #e16df5d1;
    --main-blue: #4EF8E7;
  }
}

html {
  @apply scroll-smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost);
}

::-webkit-scrollbar {
  @apply w-[8px]
}

::-webkit-scrollbar-track {
  @apply bg-[--background]
}

::-webkit-scrollbar-thumb {
  @apply bg-[--main-fucsia]
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[--main-fucsia-800]
}

@layer components {
  .link {
    @apply font-medium tracking-wider text-lg m-3 relative transition-all duration-[.4s];
  }

  .link:hover {
    @apply text-[--main-fucsia];
  }

  .link:after {
    @apply absolute bottom-0 left-0 right-0 m-auto w-0 text-transparent h-[2px] bg-[--main-fucsia] content-['.'] transition-all duration-[.4s];
  }

  .link:hover:after {
    @apply w-full;
  }

  .link:before {
    @apply transition-all duration-[.4s]
  }

  .box-shadow {
    box-shadow: -1px 2px 6px 1px var(--main-fucsia),
      2px 2px 8px 0 #0b325e,
      5px 5px 10px -2px rgba(64, 207, 193, 0);
  }

  .nav-hamburger {
    display: none;
    background: none;
    border: none;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked+svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .box-shadow-pic {
    box-shadow: 2.8px 2.8px 2.2px #40cfc199, 6.7px 6.7px 5.3px #40cfc161, 12.5px 12.5px 10px #40cfc137;
  }

  .title {
    @apply font-medium text-[--main-fucsia] text-4xl text-center;
  }

  .skill-card {
    @apply bg-[--skill-card-bgcolor] rounded-xl flex-1 basis-[250px] w-[200px] h-[200px] relative;
  }

  .skill-card-content {
    @apply flex flex-col rounded-[inherit] items-center bg-[--skill-card-content-bgcolor] inset-[1px] justify-center absolute gap-5 no-drag;
  }

  .skills-animation {
    width: calc(200px * 22);
    animation: scroll 25s linear infinite;
  }

  .skill-card:hover {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),
        hsl(var(--color) / 1),
        rgba(255, 255, 255, 0.12) 40%);
  }

  .skill-card::before {
    background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y),
        hsl(var(--color) / 0.35),
        transparent 40%);

    @apply content-[""] absolute w-full h-full top-0 left-0 rounded-[inherit] opacity-0 z-[2];
  }

  .skills-animation:hover>.skill-card::before {
    @apply opacity-[1];
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .clamp {
    font-size: clamp(1rem, 6vw, 2rem);
  }

  img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
  }

  .no-drag {
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
  }

  .typing {
    animation: typing 3.5s steps(40), blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  @keyframes blink-caret {

    from,
    to {
      border-color: transparent
    }

    50% {
      border-color: #E16DF5;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-200px * 11));
    }
  }

  .skill-card:nth-child(1),
  .skill-card:nth-child(12) {
    --color: 33 100% 68%;
  }

  .skill-card:nth-child(2),
  .skill-card:nth-child(13) {
    --color: 206 76% 90%;
  }

  .skill-card:nth-child(3),
  .skill-card:nth-child(14) {
    --color: 62 100% 68%;
  }

  .skill-card:nth-child(4),
  .skill-card:nth-child(15) {
    --color: 248 100% 68%;
  }

  .skill-card:nth-child(5),
  .skill-card:nth-child(16) {
    --color: 38 100% 68%;
  }

  .skill-card:nth-child(6),
  .skill-card:nth-child(17) {
    --color: 199 100% 68%;
  }

  .skill-card:nth-child(7),
  .skill-card:nth-child(18) {
    --color: 0 100% 68%;
  }

  .skill-card:nth-child(8),
  .skill-card:nth-child(19) {
    --color: 125 100% 68%;
  }

  .skill-card:nth-child(9),
  .skill-card:nth-child(20) {
    --color: 275 100% 68%;
  }

  .skill-card:nth-child(10),
  .skill-card:nth-child(21) {
    --color: 227 100% 68%;
  }

  .skill-card:nth-child(11),
  .skill-card:nth-child(22) {
    --color: 257 100% 68%;
  }

}