@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #161616;
    --bold-color: #40CFC1;
    --bold-color2: #E16DF5;
    --main-text-light-color: #FFF6FF;
    --main-text-dark-color: #1E2533;
    --main-font-light: 300 18px 'Jost';
    --main-font-bold: 500 18px 'Jost';
    --skills-card-bgcolor: rgba(255, 255, 255, 0.12);
    --skills-card-content-bgcolor: #131315;
    --glass-bg: rgba(192, 192, 192, 0.2);
    --glass-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --glass-border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #FFF5FF;
    --bold-color: #40CFC1;
    --bold-color2: #E16DF5;
    --main-text-light-color: #1E2533;
    --main-text-dark-color: #FFF6FF;
    --main-font-light: 300 18px 'Jost';
    --main-font-bold: 500 18px 'Jost';
    --skills-card-bgcolor: rgba(0, 0, 0, 0.504);
    --skills-card-content-bgcolor: #e2d7e2;
    --glass-bg: rgba(192, 192, 192, 0.095);
    --glass-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.159);
    --glass-border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .menu-svg .line {
    stroke: var(--main-text-light-color);
  }
}

body {
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #E16DF5;
}

::-webkit-scrollbar-thumb:hover {
  background: #e16df5d1;
}