@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF5FF;
  --foreground: #161616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #FFF5FF;
    --main-fucsia: #E16DF5;
    --main-fucsia-800: #e16df5d1;
    --main-blue: #4EF8E7;
  }
}

html {
  @apply scroll-smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost);
}

::-webkit-scrollbar {
  @apply w-[8px]
}

::-webkit-scrollbar-track {
  @apply bg-[--background]
}

::-webkit-scrollbar-thumb {
  @apply bg-[--main-fucsia]
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[--main-fucsia-800]
}

@layer components {
  .link {
    @apply font-medium tracking-wider text-lg m-3 relative transition-all duration-[.4s];
  }

  .link:hover {
    @apply text-[--main-fucsia];
  }

  .link:after {
    @apply absolute bottom-0 left-0 right-0 m-auto w-0 text-transparent h-[2px] bg-[--main-fucsia] content-['.'] transition-all duration-[.4s];
  }

  .link:hover:after {
    @apply w-full;
  }

  .link:before {
    @apply transition-all duration-[.4s]
  }

  .box-shadow {
    box-shadow: -1px 2px 6px 1px var(--main-fucsia),
      2px 2px 8px 0 #0b325e,
      5px 5px 10px -2px rgba(64, 207, 193, 0);
  }

  .nav-hamburger {
    display: none;
    background: none;
    border: none;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked+svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .box-shadow-pic {
    box-shadow: 2.8px 2.8px 2.2px #40cfc199, 6.7px 6.7px 5.3px #40cfc161, 12.5px 12.5px 10px #40cfc137;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .clamp {
    font-size: clamp(1rem, 6vw, 2rem);
  }

  img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
  }

  .no-drag {
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
  }

  .typing {
    animation: typing 3.5s steps(40), blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  @keyframes blink-caret {

    from,
    to {
      border-color: transparent
    }

    50% {
      border-color: #E16DF5;
    }
  }

}